/* Style para proyectos */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #1D1D1B;
    overflow: hidden;
    background-color: #E0E0E0;
}

.projects {
    text-decoration: none;
    color: #262626;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    box-sizing: border-box;
}

main{
    margin-left: 230px;
    padding: 40px;
    /* Esto hace que no exceda la altura visible de la ventana */
    max-height: 100vh;
    /* Esto activa el scroll vertical :) */ 
    overflow-y: auto;
    /* Esto evita el scroll horizontal :)*/ 
    overflow-x: hidden; 
    /* Esto asegura que el padding no expanda el tamaño del contenedor */
    box-sizing: border-box;
}

.container{
    width: 95%;
    margin: -20px auto;
    background: #E0E0E0;
    padding: 20px;
    border-radius: 10px;
}

.container-2{
    background-color: #ffffff;
    margin: -20px auto;
    padding: 20px;
    border-radius: 10px;
}

h2{
    margin-bottom: 5px;
}

.search-filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#buscar{
    width: 30%;
    height: 30%;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #444;
}

#filtrarBtn{
    color: #000000;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#filtrarBtn img{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead{
    background-color: #ffffff;
    color: #000000;
}

th, td{
    padding: 10px;
    text-align: left;
    width: auto;
}

th:nth-child(1), td:nth-child(1) {
    width: 50%; 
}

th:nth-child(2), td:nth-child(2) {
    width: 30%; 
}

th:nth-child(3), td:nth-child(3) {
    width: 40%; 
}

tr{
    border-bottom: 1px solid #444;
}

.estado{
    display: flex;
    align-items: center;
}

.estado .circulo{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.verde{
    background-color: green;
}

.rojo{
    background-color: red;
}

.tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tab{
    background: none;
    border: none;
    font-size: 18px;
    padding: -10px;
    cursor: pointer;
}

.tab.active{
    font-weight: bold;
    text-decoration: underline;
}

.add-button{
    background: #CA8708;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.add-button img{
    width: 25px;
    height: 25px;
    margin-bottom: -6px;
}

.proyecto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
}

#btn-editar{
    background-color: #06AECC;
    color: #ffffff;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#btn-editar img{
    width: 15px;
    height: 15px;
    margin-bottom: -1px;
}

#btn-link{
    background-color: #F64382;
    color: #ffffff;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#btn-link img{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}