@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.MenuOProyecto {
    padding: 0;
    margin: 300px;

}

.MenuOProyecto div .btnCrearProj {
    background-color: #CA8708;
    padding: 15px 25px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

div.CajitaActivos{
    margin:10px;
    padding: 100px;
    background-color: #adadad;
    border-radius: 20px;
    text-align: left;
}