* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: poppinsThin;
    src: url(fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: poppinsExtraLight;
    src: url(fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: poppinsLight;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsMedium;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsRegular;
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

#categoriaBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#categoriaBox section {
    width: 50vw;
    font-family: poppinsExtraLight;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2.5px;
    padding: 1% 0%;
}

.tipoCat1 {
    background-color: #f2f2f2;
}

.tipoCat2 {
    background-color: #c0c0c0;
    box-shadow: inset #a4a3a3 7px -7px 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    padding: 3% 0%;
}

#roles {
    width: 76vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: poppinsLight;
    font-size: 16px;
}

#roles p {
    padding-bottom: 2vh;
    text-align: center;
    cursor: pointer;
}

#roles button {
    margin-bottom: 2vh;
}

#newUser {
    width: 10vw;
    background-color: #4CAF50;
    font-family: poppinsMedium;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

#cardContainer {
    width: 80vw;
    height: 75vh;
    background-color: #fff;
    border-radius: 20px;
}

#modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainForms {
    align-content: space-between;
    height: 300vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
}

/* Ocultar el formulario */
.hidden {
    display: none;
}

/* Estilo del formulario modal */
.forms {
    width: 25%;
    font-family: poppinsLight;
    background: #E8E8E8;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}

#formAgregarDatos label {
    color: #000;
}

input {
    font-size: 16px;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-cancelar {
    background-color: #dd233f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn-guardar {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

/*FORMULARIO DE ELECCION DEL ROL*/

#formElegirRol {
    padding: 20px;
    background-color: #E8E8E8;
    display: flex;
    flex-wrap: wrap;
}

#formElegirRol h3 {
    font-family: poppinsLight;
}

#divRoles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#divRoles button {
    width: 100%;
    padding: 7px 0px;
    margin: 10px 0px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-family: poppinsLight;
    cursor: pointer;
}

#btnAddAdmin {
    box-shadow: 0px 5px 0px #ffe14e;
}

#btnAddEstud {
    box-shadow: 0px 5px 0px #4E8FFF;
}

#btnAddDocen {
    box-shadow: 0px 5px 0px #FF4E8C;
}

#btnAddEvalu {
    box-shadow: 0px 5px 0px #FFAD65;
}

/*FORMULARIO DONDE SE VE LA INFORMACION*/

#formInfoSelected {}

#formInfoSelected p {
    color: #000;
    font-size: 20px;
}

#actions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 5%;
}

#btnEliminar {
    background-color: #dd233f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 47.5%;
}

#btnEditar {
    background-color: #06AECC;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 47.5%;
}

/*ESTILOS DE LAS CARDS*/

#card {
    width: 90%;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: poppinsLight;
}

#card section {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    font-size: 20px;
}